<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <div id="announcement"></div>
    <div id="message"></div>
    <input type="text" id="nickname" placeholder="Name">
    <input type="text" id="input" placeholder="Type in message">
    <button id="btn">Send</button>

    <script>
        let socket = io();

        let message = document.getElementById('message');
            announcement = document.getElementById('announcement');
            nickname = document.getElementById('nickname');
            input = document.getElementById('input');
            btn = document.getElementById('btn');

            // Emit an event to the server
            btn.addEventListener('click', () => {
                socket.emit('messages', { input: input.value, nickname: nickname.value });
            });

            input.addEventListener('keypress', () => {
                socket.emit('typing', nickname.value);
            });

            // Socket on client side listens to the messages and render them out on screen
            socket.on('messages', (data) => {
                announcement.innerHTML = '';
                message.innerHTML += `<p>${data.nickname}: ${data.input}</p>`;
            });

            socket.on('typing', (data) => {
                announcement.innerHTML = `<p><strong>${data} is typing...</strong></p>`;
            });
    </script>
</body>
</html>